import mongoose from 'mongoose';
import mongoosePaginate from 'mongoose-paginate';
import Promise from 'bluebird';

// make mongoose use bluebird
mongoose.Promise = Promise;

/**
 * Mongoose schema
 */
const schema = mongoose.Schema(
    //TODO: add mongo schema
);

schema.plugin(mongoosePaginate);

// create model from schema
const {{mongo.model}} = mongoose.model('{{mongo.model}}', schema);
export default {{mongo.model}};