import { Router } from 'express';
import {{controller.name}} from './controller/{{controller.name}}';

const router = new Router();

/*
 * {{title}} routes
 */
const controller = new {{controller.name}}();
router.get('{{router.entity}}/:id', controller.{{controller.methods.getById}});
router.get('{{router.entity}}', controller.{{controller.methods.get}});
router.post('{{router.entity}}', controller.{{controller.methods.post}});
router.delete('{{router.entity}}/:id', controller.{{controller.methods.delete}});
router.put('{{router.entity}}/:id', controller.{{controller.methods.put}});

/*
 * Custom routes
 */

/*
 * END of custom routes
 */

export default router;